body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategray;
    font-size: 1em;
    padding: 10px;
    background-color: ivory;
    text-align: center;
}

header {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
}

footer {
    margin: 40px;
    font-size: 0.75em;
    padding: 10px;
}

ul {
    margin: 0px;
    padding: 10px 0px;
}

li {
    display: inline-block;
}

ul a, button {
    color: whitesmoke;
    text-decoration: none;
    height: 25px;
    width: 100px;
    padding: 7px;
    text-align: center;
    border-left: 2px outset grey;
    border-right: 1px outset grey;
    border-top: 1px outset grey;
    border-bottom: 1px outset grey;
    background-color:seagreen;
    border-radius: 6px;
}

a:hover, button:hover {
    color:seagreen;
    background-color: whitesmoke;
    border-left: 2px outset lightgray;
    border-right: 1px outset lightgray;
    border-top: 1px outset lightgray;
    border-bottom: 1px outset lightgray;
}

a:active, button:active {
    color:tomato;
    background-color: whitesmoke;
    border-left: 2px outset grey;
    border-right: 1px outset grey;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

form {
    max-width: 350px;
    margin: auto;
    background-color: rgb(166, 190, 166);
    padding: 20px;
    border-radius: 6px
    }

input[type="text"], input[type="email"], textarea {
    display:block;
    width: 350px;
    margin: 20px 0px;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: inset 1px 1px 3px darkslategray;
}

textarea {
    height: 200px;
}

button {
    height: 40px;
    line-height: 0px;
    font-weight: bold;
    margin: auto;
}


.p1 {
    text-align: center;
    margin: 0 auto;
    width: 30%;
    font-size: 1em;
    padding: 20px;
    background-color: rgb(166, 190, 166);
    border-radius: 6px;
}

.tabel {
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: fixed;
    width: 850px;
    margin: auto;
    margin-bottom: 75px;
    background-color: rgb(166, 190, 166);
    border-radius: 6px;
    padding: 10px;
}

#foto {
    margin: 30px;
}